<!DOCTYPE html>
<html lang="en">

<head>
	 {% load static %} 
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">


	<title>Znajdz lekarza</title>
 	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">


 	<link rel="stylesheet" href="{% static 'webapp/fonts/icomoon/style.css' %}">
	<link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'webapp/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'webapp/css/jquery-ui.css' %}">
	<link rel="stylesheet" href="{% static 'webapp/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'webapp/css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'webapp/css/bootstrap-datepicker.css' %}">
	<link rel="stylesheet" href="{% static 'webapp/css/animate.css' %}">
	
    <link rel="stylesheet" href="{% static 'webapp/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/css/fl-bigmug-line.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/css/aos.css' %}">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'webapp/css/util.css' %}">

	<link type="text/css" rel="stylesheet" href="{% static 'webapp/css/style.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'webapp/css/navbar.css' %}">

	<link rel="stylesheet" href="{% static 'webapp/css/search.css' %}">

</head>
<body>

	<header class="site-navbar py-1" id= "my-header" role="banner">
      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0"><a href="{% url 'webapp:index' %}" class="text-black h2 mb-0">znajdz<strong>Lekarza</strong></a></h1>
          </div>

          <div class="col-10 col-xl-10 d-none d-xl-block">
            <nav class="site-navigation text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="{% url 'webapp:index' %}">Strona główna</a></li>
   				{% if user.is_authenticated %}
   					<li><a href="{% url 'webapp:view_appointments' %}">Moje wizyty</a></li>
        			<li><a href="{% url 'webapp:logout' %}">Wyloguj</a></li>
        		{% else %}
        			<li><a href="{% url 'webapp:login' %}">Konto</a></li>
    			{% endif %}
              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right d-block">
            
            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div> 
    </header>
    <div class="section" id="booking">
	<div class="container">
	<br>
	<div class="card">
	<table class="table table-hover shopping-cart-wrap">
	<thead class="text-muted">
	<tr>
	  <th scope="col">Lekarz</th>
	  <th scope="col" width="160">Termin</th>
	  <th scope="col" width="100">Cena</th>
	  <th scope="col" width="200" class="text-right">Rezerwacja</th>
	</tr>
	</thead>
	<tbody>

	{% for doctor, appointments in doctors_and_appointments %}
	<form method="post" id="doctor-{{ doctor.doctor_id }}">
	{% csrf_token %}
	<tr>
	<td>
	<figure class="media">
		<div class="img-wrap"><img src="{% static 'webapp/img/doctor.png' %}"></div>
		<figcaption class="media-body">
			<h6 class="title text-truncate">{{ doctor.data.first_name }} {{ doctor.data.last_name }}</h6>
			<dl class="param param-inline small">
			  <dt>Specjalizacja: </dt>
			  <dd>{{ doctor.specialization }}</dd>
			</dl>
			<dl class="param param-inline small">
			  <dt>Klinika: </dt>
			  <dd>{{ doctor.clinic.name }}</dd>
			</dl>
		</figcaption>
	</figure> 
	</td>

	<td> 
		<dl class="param param-inline small">
			<dd>
					<select class="form-control" name="appointment" id="appointment">
						{% for appointment in appointments %}
							{% if appointment.patient %}
							<option value="{{ appointment.appointment_id }}" disabled>{{ appointment.appointment_date }}</option>
							{% else %}
							<option value="{{ appointment.appointment_id }}">{{ appointment.appointment_date }}</option>
							{% endif %}
						{% endfor %}
					</select>
			</dd>
		</dl>
	</td>
	<td> 
		<div class="price-wrap"> 
			<var class="price">{{ appointments.0.price }}</var> 
		</div>
	</td>
	<td class="text-right">
		{% if user.is_authenticated %}

			<a title="" onclick="document.getElementById('doctor-{{ doctor.doctor_id }}').submit()" class="btn btn-outline-primary" data-toggle="tooltip"> <i class="fas fa-arrow-right"></i></a> 
		{% else %}
			<a title="" href="{% url 'webapp:login' %}" class="btn btn-outline-primary" data-toggle="tooltip"> <i class="fas fa-arrow-right"></i></a>
		{% endif %}
	</td>
	</tr>

	</form>
	{% endfor %}
	</tbody>
	</table>
	<table id="page-table">
	<tr>
	<td id="ul-pages-td">
	{% if doctors_and_appointments.has_other_pages %}
    {% load proper_paginate %}
    <ul class="pagination" id="ul-pages">
        {% if doctors_and_appointments.has_previous %}

            <li><a class="page-link" href="/search?page={{ doctors_and_appointments.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="/search?page={{ i }}">&laquo;</a></li>
        {% endif %}
        {% for i in paginator|proper_paginate:doctors_and_appointments.number %}
            {% if doctors_and_appointments.number == i %}
                <li class="page-item disabled"><a class="page-link" href="/search?page={{ i }}">{{ i }}</a></li>
            {% else %}
                <li><a class="page-link" href="/search?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if doctors_and_appointments.has_next %}

            <li><a class="page-link" href="/search?page={{ doctors_and_appointments.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="/search?page={{ i }}">&raquo;</a></li>
        {% endif %}
    </ul>
	{% endif %}
	</td>
	</tr>

	</table>
	</div>
	</div> 
	</div>
</body>

</html>